/* html {
    --warning-color: #fca49b;
    --warning-color-dark: #b61825;
    --warning-color-darker: #75070f;

    --note-color: #0091ff !important;
    --note-color-dark: #005ca3 !important;
    --note-color-darker: #003863 !important;
    
    --deprecated-color: rgb(214, 216, 224);
    --deprecated-color-dark: #5b6269;
    --deprecated-color-darker: #43454a;
    
    --bug-color: rgb(246, 208, 178);
    --bug-color-dark: #a53a00;
    --bug-color-darker: #5b1d00;
    
    --invariant-color: #b7f8d0;
    --invariant-color-dark: #00ba44;
    --invariant-color-darker: #008622;
} */
